# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\Keima\Documents\DLSU\2019-20 CPE Third Term\06 - LBYCPEI\Elements - Project\Elements\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
